<footer id="footerPage">
    <section class="footerLinks">
        <!-- About -->
        <article class="footerColumn">
            <h2>Nosotros</h2>
            <span class="footerAncla">
                <box-icon name="chevron-right" type="solid" color="#ffffff" class="icono"></box-icon>
                <a href="#">Carrera 11a#98-50</a>
            </span>
            <span class="footerAncla">
                <box-icon name="chevron-right" type="solid" color="#ffffff" class="icono"></box-icon>
                <a href="#">Bogotá, Colombia</a>
            </span>
            <span class="footerAncla">
                <box-icon name="chevron-right" type="solid" color="#ffffff" class="icono"></box-icon>
                <a href="#">6017469000</a>
            </span>
            <span class="footerAncla">
                <box-icon name="chevron-right" type="solid" color="#ffffff" class="icono"></box-icon>
                <a href="mailto:rrhh.colombia@farmadso.com">rrhh.colombia@farmadso.com</a>
            </span>
        </article>

        <!-- Information -->
        <article class="footerColumn">
            <h2>Información</h2>
            <span class="footerAncla">
                <box-icon name="chevron-right" type="solid" color="#ffffff" class="icono"></box-icon>
                <a href="#">Acerca de nosotros</a>
            </span>
            <span class="footerAncla">
                <box-icon name="chevron-right" type="solid" color="#ffffff" class="icono"></box-icon>
                <a href="#">Preguntas frecuentes</a>
            </span>
            <span class="footerAncla">
                <box-icon name="chevron-right" type="solid" color="#ffffff" class="icono"></box-icon>
                <a href="#">Política de privacidad</a>
            </span>
            <span class="footerAncla">
                <box-icon name="chevron-right" type="solid" color="#ffffff" class="icono"></box-icon>
                <a href="#">Términos y condiciones</a>
            </span>
            <span class="footerAncla">
                <box-icon name="chevron-right" type="solid" color="#ffffff" class="icono"></box-icon>
                <a href="#">Contáctanos</a>
            </span>
        </article>

        <!-- Resources -->
        <article class="footerColumn">
            <h2>Recursos</h2>
            <span class="footerAncla">
                <box-icon name="chevron-right" type="solid" color="#ffffff" class="icono"></box-icon>
                <a href="#">Guía de medicamentos genéricos</a>
            </span>
            <span class="footerAncla">
                <box-icon name="chevron-right" type="solid" color="#ffffff" class="icono"></box-icon>
                <a href="#">Calculadora de dosis</a>
            </span>
            <span class="footerAncla">
                <box-icon name="chevron-right" type="solid" color="#ffffff" class="icono"></box-icon>
                <a href="#">Consejos de salud</a>
            </span>

            <span class="footerAncla">
                <box-icon name="chevron-right" type="solid" color="#ffffff" class="icono"></box-icon>
                <a href="#">Preguntas frecuentes sobre medicamentos</a>
            </span>
            <span class="footerAncla">
                <box-icon name="chevron-right" type="solid" color="#ffffff" class="icono"></box-icon>
                <a href="#">Artículos sobre bienestar</a>
            </span>
            <span class="footerAncla">
                <box-icon name="chevron-right" type="solid" color="#ffffff" class="icono"></box-icon>
                <a href="#">Directorio de médicos y especialistas</a>
            </span>
        </article>
    </section>
    <section class="footerContent">
        <section class="footerRowPago">
            <section class="footerPago">
                <article class="itemPago">
                    <img src="assets/svg/visa-footer.svg" alt="" />
                    <p>Visa</p>
                </article>
            </section>
            <section class="footerPago">
                <article class="itemPago">
                    <img src="assets/svg/american-express-footer.svg" alt="" />
                    <p>American Express</p>
                </article>
            </section>
            <section class="footerPago">
                <article class="itemPago">
                    <img src="assets/svg/contra-entrega-footer.svg" alt="" />
                    <p>contra entrega</p>
                </article>
            </section>
            <section class="footerPago">
                <article class="itemPago">
                    <img src="assets/svg/diners-club-footer.svg" alt="" />
                    <p>diners club</p>
                </article>
            </section>
            <section class="footerPago">
                <article class="itemPago">
                    <img src="assets/svg/datafono-footer.svg" alt="" />
                    <p>Datafono</p>
                </article>
            </section>
        </section>
        <!-- Copyright -->

        <section class="footerContentWeb">
            <div class="copyright">
                <p>
                    © 2023 Farmadso Colombia S.A.
                </p>
                <p>
                    COL-V6112-1.6.0
                </p>

            </div>

            <div class="FooterEnlacesWeb">
                <a href="#" class="icono">
                    <i class="bx bxl-whatsapp" style="color: #f1f2f5;"></i>
                </a>
                <a href="#" class="icono">
                    <i class="bx bxl-facebook" style="color: #f1f2f5;"></i>
                </a>
                <a href="#" class="icono">
                    <i class="bx bxl-instagram" style="color: #f1f2f5;"></i>
                </a>
                <a href="#" class="icono">
                    <i class="bx bxl-twitter" style="color: #f1f2f5;"></i>
                </a>
            </div>

        </section>


    </section>
</footer>