<div id="header">
    <section class="cabeceraSuperior">
        <span class="logo">
            <a href="index.html">
                <img src="assets/img/logoFarmadso.png" alt="" id="logoimg">
            </a>
        </span>
        <div class="search">
            <select name="" id="buscadorCategoria">
                <option value="">pastas</option>
                <option value="">hola</option>
            </select>
            <input type="search" name="buscador" id="search" placeholder="Busca aqui tu producto">
            <button id="btnlupa">
                <i class='bx bx-search-alt lupa'></i>
            </button>
        </div>
        <nav class="menu">
            <ul>
                <li class="list_item"><a class="list_item" href="#" data-target=""><i class='bx bxs-home icon'></i>
                        home</a></li>
                <li class="list_item"><a class="list_item" href="#" data-target=""><i
                            class='bx bxs-capsule icon'></i>productos</a></li>
                <li class="list_item"><a class="list_item" href="#" data-target=""><i class='bx bxs-cart icon'></i></a>
                </li>
                <li class="list_item"><a class="list_item" href="#" data-target=""><i class='bx bxs-user icon'></i></a>
                </li>
            </ul>
        </nav>

    </section>
    <section class="cabeceraInferior">
        <nav class="menu2">
            <ul id="menu2categoria">
                <li class="categoriasmenu">hola</li>

                <li class="categoriasmenu">hola</li>
                <li class="categoriasmenu">hola</li>
                <li class="categoriasmenu">hola</li>
                <li class="categoriasmenu">hola</li>
                <li class="categoriasmenu">hola</li>
                <li class="categoriasmenu">hola</li>
                <li class="categoriasmenu">hola</li>
                <li class="categoriasmenu">hola</li>
                <li class="categoriasmenu">hola</li>
                <li class="categoriasmenu">hola</li>
                <li class="categoriasmenu">hola</li>
            </ul>

        </nav>

        <div class="contenido-desplegable">
            <div id="linea"></div>
            <section class="content">
                <article class="contenido">
                    <h3>Nutrición y vida saludable</h3>
                    <li class="contentitem">Alimentos saludables</li>
                    <li class="contentitem">Artículos deportivos</li>
                    <li class="contentitem">Nutrición</li>
                    <li class="contentitem">Pastilleros y dosificadores</li>
                </article>
                <article class="contenido">
                    <h3>Nutrición y vida saludable</h3>
                    <li class="contentitem">Alimentos saludables</li>
                    <li class="contentitem">Artículos deportivos</li>
                    <li class="contentitem">Nutrición</li>
                    <li class="contentitem">Pastilleros y dosificadores</li>
                </article>
                <article class="contenido">
                    <h3>Nutrición y vida saludable</h3>
                    <li class="contentitem">Alimentos saludables</li>
                    <li class="contentitem">Artículos deportivos</li>
                    <li class="contentitem">Nutrición</li>
                    <li class="contentitem">Pastilleros y dosificadores</li>
                </article>
            </section>
        </div>


    </section>
</div>