<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/header.css">
    <link rel="stylesheet" href="../assets/css/index.css">
    <title>Farmadso</title>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div id="header">
        <section class="cabeceraSuperior">
            <span class="logo">
                <a href="../index.html">
                    <img src="../assets/img/logoFarmadso.png" alt="" id="logoimg">
                </a>
            </span>
            <div class="search">
                <select name="" id="buscadorCategoria">
                    <option value="">pastas</option>
                    <option value="">hola</option>
                </select>
                <input type="search" name="buscador" id="search" placeholder="Busca aqui tu producto">
                <button id="btnlupa">
                    <i class='bx bx-search-alt lupa'></i>
                </button>
            </div>
            <nav class="menu">
                <ul>
                    <li class="list_item"><a class="list_item" href="#" data-target=""><i class='bx bxs-home icon'></i> home</a></li>
                    <li class="list_item"><a class="list_item" href="#" data-target=""><i class='bx bxs-capsule icon' ></i>productos</a></li>
                    <li class="list_item"><a class="list_item" href="#" data-target=""><i class='bx bxs-cart icon'></i></a></li>
                    <li class="list_item"><a class="list_item" href="#" data-target=""><i class='bx bxs-user icon'></i></a></li>
                </ul>
            </nav>

        </section>
        <section class="cabeceraInferior">
            <nav class="menu2">
                <ul id="menu2categoria">
                    <li class="categoriasmenu">hola</li>
                    <li class="categoriasmenu">hola</li>
                    <li class="categoriasmenu">hola</li>
                    <li class="categoriasmenu">hola</li>
                    <li class="categoriasmenu">hola</li>
                    <li class="categoriasmenu">hola</li>
                    <li class="categoriasmenu">hola</li>
                    <li class="categoriasmenu">hola</li>
                    <li class="categoriasmenu">hola</li>
                    <li class="categoriasmenu">hola</li>
                    <li class="categoriasmenu">hola</li>
                    <li class="categoriasmenu">hola</li>
                </ul>

            </nav>


        </section>
    </div>
</body>

</html>